.login-container {
    display: grid;
    place-content: center;
    min-height: 100vh;
    grid-template-columns: minmax(300px, 400px);
    row-gap: 2rem;
    padding: 2rem;
}

.login-container > div {
    min-width: 300px;
    max-width: 600px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    border: 3px solid var(--neutral-950);
    background-color: var(--zinc-50);
    color: var(--neutral-950);
    box-shadow: 2px 2px var(--neutral-950);
}

.title {
    font: bold 3rem "Trade Winds", "sans-serif", "helvetica";
    text-align: center;
    color: var(--red-600);
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.login__form input {
    min-height: 40px;
    font-size: 1.2rem;
    font-family: Inter;
}

.form__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

.login-container button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-family: Inter, 'Courier New', Courier, monospace;
    font-weight: 500;
    background-color: var(--zinc-50);
    border: 2px solid var(--neutral-950);
    color: var(--neutral-950);

}

.login-container button:hover {
    box-shadow: 2px 2px 2px grey;
}

.login-container button:active {
    box-shadow: inset 2px 2px 2px grey;
}

/*Photo by Nataliya Vaitkevich: https://www.pexels.com/photo/black-smartphone-on-miniature-shopping-cart-6214388/*/